@use "../global/layout" as v;

body {
  background-color: var(--color-offBlack);
  display: flex;
  min-height: 100vh;
  line-height: 1.5;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
}

main {
  background-color: var(--color-darkGrey);
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 2.5rem;
  flex-shrink: 0;

  @include v.mobile {
    width: 20.4375rem;
    padding: 1.5rem;
  }

}

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  align-self: stretch;
}

.location__title {
  color: var(--color-white);
  font-weight: 600;
  font-size: 1.5rem;
}

.location__description {
  color: var(--color-green);
  font-weight: 700;
  font-size: 0.875rem
}

.bio__message {
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  gap: 1rem;
}

.item {
  background-color: var(--color-grey);
  border-radius: 0.5rem;
  display: flex;
  padding: 0.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
}

.item:hover {
  background-color: var(--color-green);
}

a {
  color: var(--color-white);
  font-size: 0.875rem;
  font-weight: 700;
}

a:hover {
  color: var(--color-grey);
}